extends ../layout_side

block content 
    if data
        main(role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4")
            input(type="hidden" id="project_seq" value=data.project_seq)
            div(class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow")
                div(class="lh-100")
                    h4(class="mb-0 text-white lh-100") #{data.project_name}
                    small 기간 2018.12.01 ~ 2019.12.31

            div(class="header-ending")
            div(class="my-3 p-3 bg-white rounded box-shadow")
                h6(class="border-bottom border-gray pb-2 mb-0") 구성요소
                div(id="component_list")

        script(type="text/javascript" src="/static/js/project/project_info.js")
        script(type="text/javascript").
            selectHeaderMenu(0);  
            loadSideMenu();    
    else
        main(role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4")
            div(class="my-3 p-3 bg-white rounded box-shadow")
                h6(class="border-bottom border-gray pb-2 mb-0") Not found project.
    